body{
    background-color: #9999ff;
    color: rgb(157, 19, 19);
    font-size: 50px;
}

h1{
    color: #0000b3;
}


p{
    color: rgb(46, 13, 101);
}

div{
    background-color: rgb(123, 95, 160);
    padding: 20px;
    border-style: double;
    border-width: 10px;
    border-color: rgb(224, 203, 66);
    margin: 150px;
    border-radius: 20px;
}

a{
    color: rgb(88, 212, 136);
}

.imgRound{
    border-radius: 50px;
}