body{
    background-color: #331c47;
    color: rgb(157, 19, 19);
    font-size: 50px;
}

h1{
    color: #ab4bbb;
    font-size: 150px;
    background-color: rgb(77, 16, 87);
    text-align: center;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5b2a8532;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 5rem;
}

nav ul a:hover{
    color: #ab4bbb;
}

a:hover{
    color: #ab4bbb;
}

p{
    color: rgb(107, 164, 173);
    text-align: justify;
}

div{
    background-color: rgb(123, 95, 160);
    padding: 40px;
    border-style: none;
    border-width: 10px;
    margin: 100px;
    border-radius: 20px;

}

a{
    text-align: center;
    color: rgb(88, 160, 212);
    text-decoration: none;
}

.imgRound{
    display: flex;
    justify-content: center;
    border-radius: 50px;
}


.fotos{
    background-color: #660033;
    border-style: none;
    /* margin: 0%;
    padding: 0%; */
    /*justify-content: center;*/
    border-radius: 15px;
}

.divGral{
    background-color: #331c47;
    border-style: none;
    /* display: flex;
  justify-content: center; */
    margin: 0%;
}



