body{
    background-color: #331c47;
    color: rgb(157, 19, 19);
    font-size: 50px;
}

h1{
    color: #ab4bbb;
    font-size: 150px;
    background-color: rgb(77, 16, 87);
}


p{
    color: rgb(26, 126, 142);
}

div{
    background-color: rgb(123, 95, 160);
    padding: 20px;
    border-style: double;
    border-width: 10px;
    border-color: rgb(72, 157, 214);
    margin: 150px;
    border-radius: 20px;
}

a{
    color: rgb(88, 160, 212);
}

.imgRound{
    border-radius: 50px;
}

.fotos{
    background-color: #660033;
    border-style: none;
    /* margin: 0%;
    padding: 0%; */
    justify-content: center;
    border-radius: 15px;
}

.divGral{
    background-color: #331c47;
    border-style: none;
    /* display: flex;
  justify-content: center; */
  margin: 0%;
}



