.container{
    display: flex;
    background-color: #006699;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

.container div{
    background-color: #cceeff;
    margin: 10px;
    padding: 10px;
    font-size: 50px;
}
img{
    width: 100%;
}
@media (max-width:800px) {
    .container{
        flex-direction: column;
    }
}

